<!DOCTYPE HTML>

<html>
	<head>
		<title>MY-SECURE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/main.css" />
		<noscript><link rel="stylesheet" href="static/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				
					

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>MY-SECURE</h2>
							<p>MANAGE YOUR PASSWORDS EASILY WITH MY SECURE<br />
							NOW IT'S EASY AND SECURE FOR YOU<br />
							with our WebApp.</p>
							<ul class="actions special">
								<li><a href="register" class="button primary">Register</a></li>
								<li><a href="login" class="button secondary">Login</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>IT'S HARD TO REMEMBER PASSWORDS <br />
									So, Here is MY-SECURE For you to easily Manage your Passwords</h2>
								
							</header>
							<ul class="icons major">
								<li><span class="icon fa-gem major style1"><span class="label">----</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">@2022</span></span></li>
								<li><span class="icon solid fa-code major style3"><span class="label">----</span></span></li>
							</ul>
						</div>
					</section>

				

			</div>

		<!-- Scripts -->
			<script src="static/js1/jquery.min.js"></script>
			<script src="static/js1/jquery.scrollex.min.js"></script>
			<script src="static/js1/jquery.scrolly.min.js"></script>
			<script src="static/js1/browser.min.js"></script>
			<script src="static/js1/breakpoints.min.js"></script>
			<script src="static/js1/util.js"></script>
			<script src="static/js1/main.js"></script>
			<script type="text/javascript", src="/static/js/main.js"></script>

	</body>
</html>